
/* botao 1 */
#seu_botao {
	clear: both;
	position:relative;
	display:block;
	height: 64px;
	width: 200px;
	background:url(../images/botao.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
}
#seu_botao span.hover {
	position: absolute;
	display: block;
	height: 64px;
	width: 200px;
	background: url(../images/botao.png) no-repeat;
	background-position: bottom;
}

/* botao 2 */
#outro_botao {
	clear: both;
	position:relative; left:20px; top:10px;
	display:block;
	height: 64px;
	width: 200px;
	background:url(../images/button.png) no-repeat;
	cursor: pointer;
}
#outro_botao span.hover {
	position: absolute;
	display: block;
	height: 64px;
	width: 200px;
	background: url(../images/outro.png) no-repeat;
	background-position: bottom;
}

.b_principal {
	position:absolute; left:20px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_principal.png) no-repeat;
	cursor: pointer;
}

.b_ocerimonial {
	position:absolute; left:158px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_ocerimonial.png) no-repeat;
	cursor: pointer;
}

.b_eventos {
	position:absolute; left:296px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_eventos.png) no-repeat;
	cursor: pointer;
}

.b_gastronomia {
	position:absolute; left:434px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_gastronomia.png) no-repeat;
	cursor: pointer;
}

.b_servicos {
	position:absolute; left:572px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_servicos.png) no-repeat;
	cursor: pointer;
}

.b_fotos {
	position:absolute; left:710px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_fotos.png) no-repeat;
	cursor: pointer;
}

.b_contato {
	position:absolute; left:848px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_contato.png) no-repeat;
	cursor: pointer;
}

.b_localizacao {
	position:absolute; left:986px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_localizacao.png) no-repeat;
	cursor: pointer;
}

.b_orcamento {
	position:absolute; left:1124px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/b_orcamento.png) no-repeat;
	cursor: pointer;
}

.b_teste {
	position:absolute; left:1200px; top:120px;
	display:block;
	height: 44px;
	width: 128px;
	background:url(../images/button.png) no-repeat;
	cursor: pointer;
}



#logo
{
  background:url(../images/logosite.png) no-repeat;
	position:absolute; left:20px; top:10px;
	display:block;
	height: 100px;
	width: 194px;
	cursor: pointer;
}

#logo_fundo
{
	background:url(../images/b_fundo.png) repeat;
	position:absolute; left:20px; top:10px;
	width: 98%;
	height: 100px;
}

}

