#mensagem_contato {

	font-size: 14px;
	text-align: center;
	color:#FFCC29

}

.csstable_principal {
	width: 100%;
	position:relative;
	height:700px;
  vertical-align:top;
  text-align:center;

}

.csstable_principal td{
	color:	white;
}


.csstable_servicos {
	left:10%;
	width: 80%;
	position:relative;
	height:550px;
  vertical-align:top;

}

.csstable_servicos td{
	color:	white;
}

.csstable_espaco {
	left:10%;
	width: 80%;
	position:relative;
  height:400px;
  vertical-align:top;

}

.csstable_espaco td{
	color:	white;
}

.csstable_localizacao {
	width: 100%;
	position:relative;
	height:700px;

}

.csstable_localizacao td{
	color:	white;
	  vertical-align:top;
}

.csstable_contato {
	width: 100%;
	position:relative;
	height:550px;

}

.csstable_contato td{
	color:	white;
}

#box-principal {
	   top:10px;
		 padding: 1px 10px 10px 10px;
		 position:relative;
	   font-size: 15px;
 		 color:white;
     width:60%;
     height:96%;
     background-color:black;
     background-position: center bottom;
     text-align:justify;
     filter:opacity(alpha=70); /* para o IE */
     -moz-opacity:0.7; /* para o FireFox */
     opacity:0.7; /* para o outros Navegadores */

}

#box-servicos {
	   top:10px;
		 padding: 1px 10px 10px 10px;
		 position:relative;
	   font-size: 15px;
 		 color:white;
     width:80%;
     height:*;
     background-color:black;
     background-position: center bottom;
     text-align:justify;
     filter:opacity(alpha=70); /* para o IE */
     -moz-opacity:0.7; /* para o FireFox */
     opacity:0.7; /* para o outros Navegadores */

}

#informacoes-contato {
		 top:10px;
		 padding: 1px 10px 10px 10px;
		 position:relative;
	   font-size: 15px;
 		 color:white;
     width:400px;
     height:400px;
     background-color:black;
     background-position: center bottom;
     text-align:justify;
     filter:opacity(alpha=70); /* para o IE */
     -moz-opacity:0.7; /* para o FireFox */
     opacity:0.7; /* para o outros Navegadores */


}

#formulario-contato {
 		 top:10px;
		 padding: 1px 10px 10px 10px;
		 position:relative;
	   font-size: 15px;
 		 color:white;
     width:500px;
     height:400px;
     background-color:black;
     background-position: center bottom;
     text-align:justify;
     filter:opacity(alpha=70); /* para o IE */
     -moz-opacity:0.7; /* para o FireFox */
     opacity:0.7; /* para o outros Navegadores */

}


#box-localizacao {
		 top:10px;
		 padding: 1px 10px 10px 10px;
		 position:relative;
	   font-size: 15px;
 		 color:white;
     width:580px;
		 height:96%;
     background-color:black;
     background-position: center bottom;
     text-align:justify;
     filter:opacity(alpha=70); /* para o IE */
     -moz-opacity:0.7; /* para o FireFox */
     opacity:0.7; /* para o outros Navegadores */
}

#box-mapa {
		 vertical-align:top;
		 /*background-image: url(../images/mapa.png);*/
  	 background-repeat: no-repeat;
	   background-position: center bottom;
  	 position:relative;
	   width:600px;
     height:96%;
     text-align:center;
}

body{
	height:100%;
	background:#ccc url(../images/wood.jpg) repeat top left;
	font-family: Arial, Helvetica, sans-serif;
	color:#444;
	font-size:12px;
	color: #000;

}

#topo
{
	text-align: center;
	background-color: #2c1308;
  position:relative;
	height: 100px;
	width: 100%;
	cursor: pointer;
	background-position: center bottom;

}

#menu {
	text-align:center;
	background-color: #341b0f;
	position: relative;
	width: 100%;
	height: 40px;
	border-top: 1px white solid;
	position: relative;
	margin: auto;

}

#foto_principal{
	top:5px;
	text-align: center;
	position: relative;
	width: 100%;
	height: 484px;
	background-image: url(../images/PRINCIPAL.png);
	background-repeat: no-repeat;
	background-position: center bottom;

}


#rodape {

	bottom: 0;
	height:50px;
	width:100%;
	position:relative;
	color:white;
	text-align: center;
  vertical-align:middle;
	background-color: #2c1308;
	font-size: 10px;
}

/*Inserido por andrey para links*/
a:link{
margin: 5px 25px 5px 5px;
font-size: 14px;
text-decoration:none;
color:white;
}

a:visited{
text-decoration:none;
color:white;
}

a:hover{
text-decoration:none;
color:white;
}

a:active{
text-decoration:none;
color:white;
}

