/* ------------------
 styling for the tables
   ------------------   */
/*
table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 0px;
	text-align: left;
	border-collapse: collapse;
}

table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 9px verdana, arial, helvetica, sans-serif;
}

table th
{
	text-align: left;
	padding: 4px;
	font-weight: normal;
	font-size: 12x;
	color: #039;
	background: #b9c9fe;
}
table td
{
	padding: 4px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
table tbody tr:hover td
{
	background: #d0dafd;
}
*/

/*
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com

*/

table {
 text-align:left;

}

td, th {
	padding: 4px;
	vertical-align:top;
}

