<div id="home-intro-pattern">
	<div id="home-intro-wrapper">
    <div id="home-intro">
			<h1></h1>
		</div>
	</div>
</div>
<div id="home-content">

	<div class="column-630">
		<div id="home-news-holder">
			<h4>Notícias e novidades</h4>
 					<div class="home-news-item">
					  <h3>Grande inauguração!</h3>
					  <div class="home-news-item-date">
						  <span class="date">05</span>jul
						</div>
					  <p>A festa de inauguração do Esplêndido Cerimonial será realizada nesta quinta feira - 05/07 ... </p>
            <a href="http://www.endereco" title="titulo">link</a><br clear="all" />
				  </div><br clear="all" />
 					<div class="home-news-item">
					  <h3>Orçamento sem compromisso</h3>
					  <div class="home-news-item-date">
						  <span class="date">06</span>jul
						</div>
					  <p>Faça uma visita e conheça nossas instalações ....</p>
            <a href="http://www.endereco" title="titulo">link</a><br clear="all" />
				  </div><br clear="all" />

		</div>
	</div>
	<div class="column-350">
		<div id="box-home-menu">
			<h3>Cerimonial</h3>

			<p>O Esplendido Cerimonial faz a organização de sua festa com a categoria e profissionalismo, prestando assessoria na condução de maneira a assegurar o glamour de sua festa.
        <br />Toda nossa experiência colocada à sua disposição, no momento que você mais vai precisar, sem custo adicional.</p>
			<span>Estamos a sua disposição!</span>
			<ul>
				<li><a href="" title="Fotos">Fotos</a><span>Veja as fotos do cerimonial</span></li>
			</ul>
			<a id="btn-tablereservation" href="/reserveren-raadhuis" title="Parceiros">Entrar em contato</a>
		</div>

		<div id="box-home-contact">
			Contato<br />
			Endereço: Rua Santa Rita de Cassia, 415 - Bairro de Lourdes
			<span id="contact-phone">Telefone: (027) 3322-7707</span>
			<a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br">contato@esplendidocerimonial.com.br</a>
			<a href="/caminho" title="Como chegar">Como chegar</a>
			<span id="contact-parking">xxxxxxxxxxxxxxxxx</span>
		</div>

	</div>
	<br clear="all" />
</div>

