<table class="csstable_principal">
<tr>
<td>
<div id="box-principal">
<br>
<div id="foto_principal">
</div>
      <br>
			<h3>O Cerimonial</h3>
       <br>
       Localizado em um local privilegiado de Vitoria, na Rua Santa Rita de Cássia, nº 415, Bairro de Lourdes,
			 num bairro central da ilha e próximo as principais IGREJA tanto Católicas como Evangélicas e contando em seu
			 projeto estacionamento coberto em suas instalações com área de 938m³ e seus salões um total de 669m² mais as
			 suas área descobertas com churrasqueira e piscina com 250m².
      <br><br>

        O Esplêndido Cerimonial planeja e realiza com requinte a sua festa. Oferecemos serviço completo de Buffet,
      para casamentos, bodas, aniversários, formaturas, churrascos, jantares e almoços empresariais, cafés da manhã,
      coquetéis e confraternização em geral.
            <br><br>

       Esplêndido Cerimonial, uma empresa jovem e moderna, aposta na satisfação plena de seus clientes, através
      de um rigoroso controle de qualidade dos produtos e serviços e no alto padrão de atendimento que proporciona a
      você e seus convidados, tornando o seu evento inesquecível.
            <br><br>

      Toda nossa experiência colocada à sua disposição, no momento que você mais vai precisar, sem custo adicional.
            <br><br>
				<%= link_to  "Entre em contato!", {:controller=>"cerimonial", :action=>"contato" } %>
	</div>
</table>
</tr>
</td>
<br>

