<div id="home-intro-pattern">
	<div id="home-intro-wrapper">
    <div id="home-intro">
		</div>
	</div>
</div>
<div id="home-content">
	<div class="column-630">
		<div id="home-news-holder">
			<h4>Notícias e novidades</h4>

 					<div class="home-news-item">
					  <h3>Festa de lançamento</h3>
					  <div class="home-news-item-date">
						  <span class="date">05</span>jul
						</div>
					  <p>A festa de lançamento do Esplêndido Cerimonial será realizada nesta quinta feira - 05/07</p>
				  </div><br clear="all" />
 					<div class="home-news-item">
				  </div>
				  <br clear="all" />

		</div>
	</div>
	<div class="column-350">
		<div id="box-home-menu">
			<h3>O Cerimonial</h3>

			<p>O Esplêndido Cerimonial faz a organização de sua festa com a categoria e profissionalismo, prestando assessoria na condução de maneira a assegurar o glamour de sua festa.
        <br />Toda nossa experiência colocada à sua disposição, no momento que você mais vai precisar, sem custo adicional.</p>
			<span>Estamos a sua disposição!</span>
			<ul>
				<li>
				<%= link_to  "Fotos", {:controller=>"cerimonial", :action=>"fotos" } %>
				<span>Veja as fotos do cerimonial</span>
			</ul>
		</div>

		<div id="box-home-contact">
			<h3>Contato</h3>
			Endereço: Rua Santa Rita de Cassia, 415 - Bairro de Lourdes
			<span id="contact-phone">Telefone: (027) 3322-7707</span>
			<span id="contact-phone">
			<a href="mailto:contato@esplendidocerimonial.com.br" title="E-mail contato@esplendidocerimonial.com.br">contato@esplendidocerimonial.com.br</a>
			<%= link_to  "Como chegar", {:controller=>"cerimonial", :action=>"localizacao" } %>
		</div>

	</div>
	<br clear="all" />
</div>

