<table class="csstable_localizacao">
  <tr>
    <td align="center">
     <div id="box-localizacao">
          <br>
         <h3>Localização</h3>
          <br>
            Localizado em um local privilegiado de Vitoria, na Rua Santa Rita de Cássia, nº 415, Bairro de Lourdes,
                num bairro central da ilha e próximo as principais IGREJA tanto Católicas como Evangélicas e contando em seu
			          projeto estacionamento coberto em suas instalações com área de 938m³ e seus salões um total de 669m² mais as
			          suas área descobertas com churrasqueira e piscina com 250m².
          <br><br>

            Endereço: Rua Santa Rita de Cássia, nº 415, Bairro de Lourdes
          <br>
      </div>
    </td>
    </tr>
    <tr>
    <td align="center">
      <div id="box-mapa">
          <%= image_tag("../images/mapa.png", :border=>0) %>
      </div>
    </td>
  </tr>
</table>

