<div id="home-intro-pattern">
	<div id="ahome-intro-wrapper">
    <div id="home-intro">
<div id="home-content">
	<div id="box-localizacao">
			<h3>Localização</h3>

			<p>   Localizado em local privilegiado de Vitoria, na Rua Santa Rita de cássia nº 415 Bairro de Lourdes,
      num bairro central da ilha e próximo as principais IGREJA tanto Católicas como Evangélicas, e contando
        em seu projeto estacionamento coberto em suas instalações com área de 938m³ e seus salões um total de
      669m² mais as suas área descobertas com churrasqueira e piscina com 250m².
      </p><br>

      <p>   Endereço: Rua Santa Rita de Cassia, 415 - Bairro de Lourdes
      </p><br>

				<%= image_tag("../images/localizacao.png", :border=>0) %>
	</div>





	<br clear="all" />
</div>

		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

