<table class="csstable_servicos" >
<tr>
<td align="center">
	<div id="box-servicos">
      <br>
			<h3>Serviços</h3>
    	<br>

		  O Esplêndido Cerimonial oferece a você e à seus convidados um Buffet de
		  alta qualidade, com planejamento, onde o atendimento requintado é fator de destaque.
		  <br>
      <br>

      Várias opções de Buffet são colocadas à sua disposição, de acordo com suas necessidades,
      desde um simples coquetel a um sofisticado jantar.
      <br>
      <br>

      A rigorosa seleção dos profissionais, assegura a você e seus convidados um tratamento fino e diferenciado,
      onde a maior preocupação é a qualidade no atendimento de quem você gosta, ou seja, seu convidado.
      <br>
      <br>

      Toda nossa experiência colocada à sua disposição, no momento que você mais vai precisar, sem custo adicional.
      <br>
      <br>

				<%= link_to  "Entre em contato!", {:controller=>"cerimonial", :action=>"contato" } %>
	</div>
</td>
</tr>
</table>

