<div id="home-intro-pattern">
	<div id="ahome-intro-wrapper">
    <div id="home-intro">
<div id="home-content">
	<div id="box-texto">
			<h3>Serviços</h3>

			<p>
		  O Esplêndido Cerimonial oferece a você e à seus convidados um Buffet de
		  alta qualidade, com planejamento, onde o atendimento requintado é fator de destaque.
      </p><br>

      <p>
     Várias opções de Buffet são colocadas à sua disposição, de acordo com suas necessidades, desde um simples coquetel a um sofisticado jantar.
      </p><br>

      <p>
      A rigorosa seleção dos profissionais, assegura a você e seus convidados um tratamento fino e diferenciado,
      onde a maior preocupação é a qualidade no atendimento de quem você gosta, ou seja, seu convidado.
      </p><br>

      <p>A rigorosa seleção dos profissionais, assegura a você e seus convidados um tratamento fino e diferenciado, onde a maior preocupação é a qualidade no atendimento de quem você gosta, ou seja, seu convidado.
      </p><br>

       <p>Toda nossa experiência colocada à sua disposição, no momento que você mais vai precisar, sem custo adicional.
      </p><br>

				<%= link_to  "Entre em contato!", {:controller=>"cerimonial", :action=>"contato" } %>
	</div>
	<br clear="all" />
</div>

		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

